body {
    font-family: sans-serif;
}
.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.progress {
    overflow: hidden;
    height: 20px;
    width: 500px;
    background-color: rgb(233, 236, 239);
    border: 1px solid black;
    border-radius: 15px;
}

.progress span {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress div {
    background-color: #00c251;
    height: 100%;
    width: 20%;
}
