/* General Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
.products {
    margin: 20px;
    padding: 0;
    list-style-type: none;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.products__single {
    height: 250px;
    list-style: none;
    padding: 20px;
    background-color: rgb(220, 220, 220);
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.products__single:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}

.products__single > img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 15px 0;
}

.pagination > span {
    padding: 6px 12px;
    cursor: pointer;
    border: 1px solid #8d8d8d;
    margin: 0 1px;
    border-radius: 5px;
    background-color: #0f0f0f;
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.pagination > span:hover {
    background-color: #00d1c0;
    color: #fff;
}

.pagination__disable {
    opacity: 0.2;
    cursor: not-allowed;
}

.pagination__selected {
    background-color: #007bff !important;
    color: #fff;
}
